<!DOCTYPE html>
<html>
<head>
  <title>Daily</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header class='mod-header'>
	  <div class='layout-wrap'>
	    <h1><a href="http://turing.io">Turing School of Software & Design</a></h1>
	    <nav>
	      <ul>
	        <li><%= link_to "Daily Calendar", daily_calendar_path %></li>
	        <li><%= link_to "Weekly Calendar", weekly_calendar_path %></li>
	        <li><%= link_to "Warmup", warmup_path %></li>
	        <li><%= link_to "Leaderboard", leaderboard_path %></li>
	        <li><%= link_to "Social", social_path %></li>
	      </ul>
	    </nav>
	  </div>
	</header>
	
<%= yield %>

</body>
</html>
